altgraph==0.17.4
packaging==24.2
pefile==2023.2.7
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
PyMuPDF==1.25.5
PyPDF2==3.0.1
PySide6>=6.6.0
pywin32-ctypes==0.2.3
setuptools==78.1.0
nuitka==2.6.9