altgraph==0.17.4
packaging==24.2
pefile==2023.2.7
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
PyMuPDF==1.25.5
PyPDF2==3.0.1
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
pywin32-ctypes==0.2.3
setuptools==78.1.0
